In [1]:
import pandas as pd

In [5]:
data = pd.read_csv("reddit_worldnews_sentiments.csv")
data.head()

,Title,Num_Comments,Upvotes,Downvotes,Upvote_Ratio,Date_Posted,Flair,Post_Category,Top_Comment_Score,Sentiment_Label
0,An anti-gay Hungarian politician has resigned ...,849,204547,0,0.93,01/12/20 18:15,NaN,Top,7555.0,negative
1,Trump Impeached for Abuse of Power,879,202909,0,0.88,19/12/19 1:23,Trump,Top,5150.0,negative
2,Vladimir Putin's black belt revoked by interna...,798,200149,0,0.89,28/02/22 20:45,NaN,Top,2907.0,neutral
3,"Two weeks before his inauguration, Donald J. T...",914,189352,0,0.84,19/07/18 2:06,NaN,Top,249.0,positive
4,"Queen Elizabeth II has died, Buckingham Palace...",905,189025,0,0.79,08/09/22 17:32,NaN,Top,1.0,negative

In [6]:
data_no_duplicates = data.drop_duplicates(subset=['Title'])

In [7]:
data_no_duplicates.shape

(1805, 10)

In [8]:
data_no_duplicates.to_csv("reddit_worldnews_sentiments_clean.csv")